<!-- <!DOCTYPE html> -->
{% load static %}
<html>
<title>
  Login Page
</title>

<link href="{% static '/css/LoginPage.css' %}" rel="stylesheet">
<script src="{% static '/js/LoginPage.js' %}" type="text/javascript"></script>

<body style="padding:0px;margin: 0px;box-sizing: border-box;overflow: hidden">
  <!-- NavBar -->
  <nav class="navbarBody" style="padding:0px;text-align:left;">
    <br>
    <span style="color: white;font-size: 2.5em;">SANVAD</span>
  </nav>

  <!-- NavBar ends -->
  <!-- Middle Section -->
  <div class="middle">

    <div class="middleEnvelope">
      <!-- Login Box -->
      <form action="{% url 'Login:login' %}" method="POST">
        <div class="loginBox">
          <span style="font-size: 2em;font-family:Sofia">Login</span>
          <hr>
          <br>
          <input type="text" placeholder="Enter Username" name="username" class="loginInput">
          <br>
          <br>
          <input type="password" placeholder="Enter Password" name="password" class="loginInput">
          <br><br>
          <input type="submit" value="LOGIN"  class="loginButton">
          <br>
          <br>
          <hr>
					{% if error_message %}
						<span style="color:red">
						{{ error_message }}
						</span>
					{% endif %}
        </div>
      </form>
      <!-- Login Box ends -->
    </div>
  </div>
  <!-- Middle Section ends -->
  <!-- Footer  -->
  <div class="footer">
    <br>
    <center>
      Developed by: <b>TEAM TRIANGULATION</b>
    </center>
  </div>
  <!-- Footer ends -->
</body>
</html>
