{% load staticfiles %}
<html>
<title>Add Category</title>
<body>
  You are in here
  <!-- <form action="{% url 'newsfeed:addCategory' %}" method="POST">
    Category:
    <input type="text" name="category">
    <br>
    Fields:
    <input type="text" name="field">
    <br>
    <button type="submit">submit</button>
  </form> -->
  <form action="{% url 'newsfeed:addCategory' %}" method="POST">
    {{ form }}
    <button type="submit">Submit</button>
  </form>
</body>
</html>