<html>
<title>Add newsfeed page</title>
<body>
  <form method="POST" action="{% url 'newsfeed:addNewsfeed' %}">
    <input type="text" name="updated_by" placeholder="User name">
    <br>
    <textarea name="content" placeholder="content"></textarea>
    <br>
    <button type="submit">Update</button>
  </form>
</body>
</html>