{% load static %}
<html>
<title>View News Feed</title>
<body>
  View newsfeed page<br>
{{ data }}
<br>
<br>
{{ data.newsfeed0.updated_by}}
<br>
{{ data.score0.ArtificialIntelligence }}
<br>
{% for a in data.newsfeed0.score %}
{{ a }}
{% endfor %}
<div id="abc"></div>
<br><br>
{% for r in data %}
{{ r }}
<br>
  {% for s in r %}
    print{{ s }}
    <br>
  {% endfor %}
{% endfor %}
</body>
<script>
// value='{{ name}}';
</script>
<!-- <script type="text/javascript" src="{% static 'viewNewsfeed.js' %}"></script> -->
</html>